<footer class="card-footer bg-dark p-3 mt-auto">
    <div class="container text-center ">
        <span class="text-secondary">Follow the Art and Fails on the different social channels.</span>
    </div>
    <ul class="list-group list-group-horizontal mt-3 mb-3">
        <li>
            <a href="https://www.instagram.com/the.failed.crafter/?hl=es">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683524/instagram_azevub.png" alt=""
                    class="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683524/facebook_vwocq5.png" alt=""
                    class="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683525/tik-tok_rxyrfo.png" alt=""
                    class="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683525/youtube_f1u5xa.png" alt=""
                    class="">
            </a>
        </li>
    </ul>
    <div class="container text-center">
        <span class="text-secondary">&copy; The Failed Crafter 2025</span>
    </div>
</footer>