@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --mango-yellow: #EFB036;
    --serious-blue: #3B6790;
    --ocean-blue: #23486A;
    --dry-blue: #4C7B8B;
}

body {
    font-family: "Funnel Sans", serif;
    background-color: var(--dry-blue);
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: var(--white);
}

.navbar-logo {
    display: flex;
    padding: 0 40px;
}

.navbar-logo .logo {
    justify-self: start;
    display: block;
    width: 100px;
    height: 100px;
}

.navbar-banner {
    display: flex;
    align-items: center;
}

.navbar-banner .banner {
    height: 200px;
}

.navbar-categories {
    display: flex;
    align-items: center;
}

.navbar-categories div {
    padding: 0 24px;
}

nav a {
    font-weight: bold;
    color: var(--ocean-blue);
    text-decoration: none;
    padding: 8px;
    border: var(--white) 1px solid;
    border-radius: 8px;
}

nav a:hover {
    color: var(--mango-yellow);
    border: var(--mango-yellow) 1px solid;
}

main {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.content {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    place-content: center;
}

.content img {
    width: 320px;
    height: 240px;
    border: 5px solid var(--black);
    margin: 10px;
    object-fit: contain;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    background-color: var(--mango-yellow);
}

.social-media {
    margin: 12px 0 24px 0;
}

.icono {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}