<% layout("layouts/boilerplate") %>
    <main class="container-fluid">
        <div class="container-fluid px-3 pt-3">
            <h1 class="text-center fw-bold">Props</h1>
            <p class="text-center">Not exactly a deadly weapon but, extremely hardened cardboard.</p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/funda_rybid7.png"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Sting's Sheath - The Lord of the Rings</em></figcaption>
            </div>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/sword_odvtq7.png"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Sword Sting - The Lord of the Rings</em></figcaption>
            </div>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/leaf_l8uqvr.png"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Lorein Leaf - The Lord of the Rings</em></figcaption>
            </div>
        </div>
    </main>