<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center fw-bold">Props</h1>
        <p class="text-center">Not exactly a deadly weapon but, extremely hardened cardboard.</p>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/funda_rybid7.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Sting's Sheath - The Lord of the Rings</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/sword_odvtq7.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Sword Sting - The Lord of the Rings</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/leaf_l8uqvr.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Lorein Leaf - The Lord of the Rings</em></p>
        </div>
        </section>
    </main>