<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center fw-bold">Cosplay</h1>
        <p class="text-center">Trying to look nice but, I always fail</p>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/Frodo_mlnldx.jpg"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Frodo</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/Pokemon_Trainer_Red_hu5wkn.jpg"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Trainer - Red</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683304/Finn_The_Human_rlv4p0.jpg"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Finn The Human</em></p>
        </div>
        </section>
    </main>