<% layout("layouts/boilerplate") %>
    <main class="container-fluid">
        <div class="container-fluid px-3 pt-3">
            <h1 class="text-center fw-bold">Cosplay</h1>
            <p class="text-center">Trying to look nice but, I always fail</p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/Frodo_mlnldx.jpg"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Frodo</em></figcaption>
            </div>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/Pokemon_Trainer_Red_hu5wkn.jpg"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Pokemon Trainer - Red</em></figcaption>
            </div>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683304/Finn_The_Human_rlv4p0.jpg"
                    class="rounded img-fluid" alt="...">
                <figcaption class="figure-caption h4 mt-2"><em>Finn The Human</em></figcaption>
            </div>
        </div>
    </main>