html {
    width: 100vw;
}

nav {
    background-image: url("https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/red-rockect_q3ov2o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav li a {
    margin: 10px;
    text-decoration: none;
}

nav li a:hover {
    border: 3px solid black;
    border-radius: 5px;
}

footer ul {
    list-style: none;
    justify-content: center;
}

footer img {
    margin: 0 1rem;
    width: 30px;
    height: 30px;
}