<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center fw-bold">Try your best, until you success</h1>
        <p class="text-center">I'm just a dude with some time that love to create, paint and use garbage in the
            stuff that we make. <br>
            The results won't be the best, but the enjoy will be eternal.</p>

        <section>
            <h2 class="text-center">Mini sculptures</h2>
            <div>
                <div class="image-container">
                    <img src="../../img/spheal.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="../../img/cleffa.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="../../img/victreebel.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
        <section>
            <h2 class="text-center">Cosplay</h2>
            <div>
                <div class="image-container">
                    <img src="../../img/Frodo.jpg" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="../../img/Pokemon Trainer Red.jpg" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="../../img/Finn The Human.jpg" class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
        <section>
            <h2 class="text-center">Props</h2>
            <div>
                <div class="image-container">
                    <img src="../../img/funda.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="../../img/sword.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="image-container">
                    <img src="img/leaf.PNG" class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
    </main>