<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center fw-bold">Try your best, until you success</h1>
        <p class="text-center">I'm just a dude with some time that love to create, paint and use garbage in the
            stuff that we make. <br>
            The results won't be the best, but the enjoy will be eternal.</p>

        <section class="mt-3">
            <h2 class="text-center">Figurines</h2>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/spheal_piwlxp.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683304/cleffa_tvwlgk.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/victreebel_nsoqz7.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
        <section>
            <h2 class="text-center">Cosplay</h2>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/Frodo_mlnldx.jpg"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/Pokemon_Trainer_Red_hu5wkn.jpg"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683304/Finn_The_Human_rlv4p0.jpg"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
        <section>
            <h2 class="text-center">Props</h2>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/funda_rybid7.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/sword_odvtq7.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
            <div>
                <div class="container my-4">
                    <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/leaf_l8uqvr.png"
                        class="rounded img-fluid" alt="...">
                </div>
            </div>
        </section>
    </main>