<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center">Mini sculptures</h1>
        <p class="text-center">This horrible things in this page are completely made for my bare hands. Many will be
            pretty small some of
            them will be ominous huge.</p>
        <div>
            <div class="image-container">
                <img src="../../img/spheal.PNG" class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Spheal #363</em></p>
        </div>
        <div>
            <div class="image-container">
                <img src="../../img/cleffa.PNG" class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Cleffa #363</em></p>
        </div>
        <div>
            <div class="image-container">
                <img src="../../img/victreebel.PNG" class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Victreebel #363</em></p>
        </div>
        </section>
    </main>