<% layout("layouts/boilerplate") %>
    <main>
        <h1 class="text-center fw-bold">Figurines</h1>
        <p class="text-center">This horrible things in this page are completely made for my bare hands. Many will be
            pretty small some of
            them will be ominous huge.</p>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683305/spheal_piwlxp.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Spheal #363</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683304/cleffa_tvwlgk.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Cleffa #363</em></p>
        </div>
        <div>
            <div class="container my-4">
                <img src="https://res.cloudinary.com/daxdf7hr0/image/upload/v1749683306/victreebel_nsoqz7.png"
                    class="rounded img-fluid" alt="...">
            </div>
            <p class="h6"><em>Pokemon Victreebel #363</em></p>
        </div>
        </section>
    </main>